* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.main-content {
	padding: 102px 228px 107px 104px;
}

.about {
	width: 400px;
}
.subtitle {
	font-weight: 700;
	font-size: 14px;
	color: #000;
}
.name {
	margin-top: 19px;
	font-weight: 700;
	font-size: 45px;
	color: #000;
}
.text {
	margin-top: 24px;
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
	color: #595959;
}

.projects {
	margin-top: 40px;
	width: 485px;
}
.title {
	font-weight: 700;
	font-size: 22px;
	color: #000;
}
.project__list {
	width: 485px;
}
.project__item {
	margin-top: 5px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
.project__link {
	margin-left: 13px;
}
