* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f5f7fa;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.main-content {
	padding: 102px 228px 107px 104px;
}

.about {
	width: 475px;
}

.subtitle {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #000;
}

.name {
	margin-top: 19px;
	font-weight: 700;
	font-size: 45px;
	color: #000;
}

.text {
	margin-top: 24px;
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
	color: #595959;
}

.projects {
	margin-top: 30px;
	width: 485px;
}

.title {
	font-weight: 700;
	font-size: 22px;
	color: #000;
	border-bottom: 2px solid black;
	letter-spacing: 2px;
}

.project__list {
	margin-top: 12px;
	list-style-position: inside;
	width: 475px;
}

.project__item {
	margin-top: 5px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}

.project__link {
	margin-left: 13px;
}

.education {
	margin-top: 30px;
	width: 475px;
}

.section__subtitle {
	margin-top: 12px;
	font-weight: 700;
	font-size: 16px;
	color: #fb6d3a;
}

.section__descr {
	margin-top: 12px;
	font-weight: 700;
	font-size: 14px;
	color: #000;
}

.section__text {
	margin-top: 12px;
}

.work {
	margin-top: 30px;
}

.code {
	margin-top: 30px;
}
/* Code style */
pre {
	margin-top: 12px;
	height: 360px;
	background-color: #2d2d2d;
	padding: 15px;
	border-radius: 8px;
	overflow-x: auto;
	color: #f8f8f2;
}

code {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 150%;
}
/* Code style */
